package helloworld

import "github.com/stefandorresteijn/goilerplate/views/layout"

type HelloProps struct {
	Name string
}

templ Hello(props HelloProps) {
	@layout.Default() {
		<h1>Hello, { props.Name }!</h1>
	}
}
