package layout

templ Default() {
	<html>
		<head>
			<title>My Page</title>
			<link rel="stylesheet" href="/static/css/main.css"/>
		</head>
		<body>
			{ children... }
			<footer>
				<p>This website was made with Goilerplate</p>
			</footer>
		</body>
	</html>
}
